
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Bold'), local('Avenir-Next-Bold'),
      url('font/AvenirNextCyr-Bold.woff2') format('woff2'),
      url('font/AvenirNextCyr-Bold.woff') format('woff'),
      url('font/AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h2 {
  font-weight: 700;
  font-family: 'Avenir Next', sans-serif;
  font-size: 32px;

}


.form {
    display: grid;
}

.grid-one {
  width: 75%;
  padding-left: 150px;
}

.grid-two {

  padding-right: 5px;
  padding-left: 20px;
  padding-top: 50px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 80px;

}

.all-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 80px;
}

.wrapper-first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 80px;
    grid-gap: 15px;
}

.wrapper-second, .wrapper-third {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 80px;
    margin-top: 15px;
}

.wrapper-third {
  margin-top: 25px;
}



.wrapper-four {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
    padding-top: 230px;
}


.input , .input-toi , .input-enter{
    background: #FFFFFF;   
    color: #414042;
    border: none;
    margin: 10px;
    margin-top: 20px;
    outline-offset: 0px;
    outline: none;
    width: 90%;
    font-weight: 400;
}

.input-enter {
  background: #FFFFFF;   
  color: #414042;
  border: none;
  margin: 10px;
  margin-top: 15px;
  outline-offset: 0px;
  outline: none;
  width: 95%;
  height: 85%;
  resize: none;
}

.form-type {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(202, 203, 210, 0.25);
  border-radius: 8px;   
  margin: 5px;
  margin-top: 15px;
  margin-left: 0px;
  border-color: #fff;
  border-style: none;
  z-index: 98;
}

.form-type-enter {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(202, 203, 210, 0.25);
  border-radius: 8px;   
  margin: 5px;
  margin-left: 0px;
  border-color: #fff;
  border-style: none;
  height: 250px;
  z-index: 98;
 
}




.button {
    background: #1A1A1A;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 800;
    width: 200px;
    height: 50px;
    cursor: pointer;
}




.custom-select {
    position: relative;
    
    height: 35px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
    color: rgba(65,64,66,0.5);
  }
  
  .select-selected {
    background-color: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    border-radius: 8px;
    height: 40px;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 33px;
    right: 17px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color:  rgba(65,64,66,0.7) transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color:  rgba(65,64,66,0.7) transparent transparent  transparent;
    
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #414042;
    padding-left: 10px;
    padding-top: 19px;
    border: 1px solid transparent;
    border-color: transparent transparent transparent;
    cursor: pointer;
    z-index: 99;
  }

  .select-items div {
    padding-top: 5px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .select-selected {
    color: rgba(65,64,66,0.7);
    
  }
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    border-radius: 8px;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    width: 80%;
    margin: 5px;
    height: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .select-items div{
    transform: translateX(13px);
  }
 


.google-map {
  width:80%;
  height:800px;
  padding-left: 15px;
}

.firstHeading {
  font-size: 13px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0px;
}

.text-content {
  line-height:20px ;
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bodyContent {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 19px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  

  position: relative ;
  width: 220px;
  height: 130px;
  left: 0px;
  top: 0px;
}

.contact-phone, .contact-email {
  padding-left: 13px;
  font-size: 13px;
  margin-top: 0px;
}

.contact-phone {
  margin-bottom: 5px;
}


.contact-email {
  margin-top: 0px;
}

button.gm-ui-hover-effect {
  visibility: hidden;
}


.backgroung-elemts-elepse-top-left {
  position: fixed;
  width: 851px;
  height: 788px;
  left: -370px;
  top: -324px;
  z-index: 0;
  
  background: linear-gradient(90deg, #B79891 0%, #94716B 100%);
  opacity: 0.2;
  filter: blur(250px);
}

.backgroung-elemts-elepse-bottom-right {
  position: fixed;
  width: 939px;
  height: 718px;
  left: 749px;
  top: 1390px;
  z-index: 0;
  
  background: linear-gradient(90deg, #B79891 0%, #94716B 100%);
  opacity: 0.2;
  filter: blur(250px);
}



@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .grid-two {

    padding-right: 5px;
    padding-left: 60px;
    padding-top: 50px;
  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 80px;
  
  }
}


@media only screen and (max-width: 800px) {
  .backgroung-elemts-elepse-bottoms-left-mobile {
    position: fixed;
    width: 851px;
    height: 788px;
    left: -370px;
    top: 961px;
    z-index: 99;
    
    background: linear-gradient(90deg, #6F8488 0%, #6F8488 100%);
    opacity: 0.2;
    filter: blur(250px);
  }
  
  .form {
    display: grid;
  }

  .all-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 20px;
  }

  .grid-one {
    width: 100%;
    padding-left: 1px;
    
  }
  
  .grid-two {
      width: 100%;
      padding-right: 1px;
      padding-top: 1410px;
      align-items: center;
      padding-left: 5px;
  
  }
  
  .wrapper-first, .wrapper-second, .wrapper-third {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 80px;
  }
  
  
  .wrapper-four {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 80px;
      padding-top: 200px;
  }

  .google-map {
    width:93%;
    height:570px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button {
    background: #1A1A1A;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 15px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
}